/******************
    GENERAL CHANGES
*******************/

html, body {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    color: #333;
    background: #eee;
}

/******************
    TYPOGRAPHY
*******************/

/******************
    LISTS
*******************/

/******************
    ROWS
*******************/

/******************
    COLUMNS
*******************/

/******************
    TILES
*******************/

/******************
    BLOCKQUOTES
*******************/

/******************
    PRE AND CODE
*******************/

/******************
    BUTTONS
*******************/

/******************
    FORMS
*******************/

/******************
    TABLES
*******************/

/******************
    NAVIGATION
*******************/

/******************
    ANIMATIONS
*******************/

/******************
    LOADERS
*******************/

/******************
    IMAGES
*******************/

/******************
    HEADER
*******************/