/******************
  GENERAL CHANGES
*******************/

.wrapper {
  max-width: 50em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -ms-flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}

/******************
  PRE AND CODE
*******************/

.cdn-link {
  font-size: 1rem;
  padding-left: 1rem;
}

/******************
  LOADERS
*******************/

.loader {
  padding: 0 1rem;
  margin: 0 auto;
}

/******************
  HEADER
*******************/

.header {
  text-align: center;
}

.header-title {
  letter-spacing: 5px;
}

.header-subtitle {
  font-weight: normal;
}

/******************
  FOOTER
*******************/

.footer {
  padding-top: 10rem;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}